In [97]:
import pandas as pd
import re
import geopandas as gpd 
import fiona

In [2]:
df = pd.read_csv("juego_de_tronos.csv", index_col=0)

In [3]:
df.head()

,Season,No. of Episode (Season),Title of the Episode,Running Time (Minutes),Directed by,Written by,Original Air Date,U.S. Viewers (Millions),Music by,Cinematography by,Editing by,IMDb Rating,Metacritic Ratings,Ordered,Filming Duration,Novel(s) Adapted,Rotten Tomatoes Rating
0,1,1,Winter Is Coming,61,Tim Van Patten,"David Benioff, D. B. Weiss",17-Apr-2011,2.22,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.9,9.1,"March 2, 2010",Second half of 2010,A Game of Thrones,10.0
1,1,2,The Kingsroad,55,Tim Van Patten,"David Benioff, D. B. Weiss",24-Apr-2011,2.20,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.6,8.9,"March 2, 2010",Second half of 2010,A Game of Thrones,10.0
2,1,3,Lord Snow,57,Brian Kirk,"David Benioff, D. B. Weiss",1-May-2011,2.44,Ramin Djawadi,Marco Pontecorvo,Frances Parker,8.5,8.7,"March 2, 2010",Second half of 2010,A Game of Thrones,8.1
3,1,4,"Cripples, Bastards, and Broken Things",55,Brian Kirk,Bryan Cogman,8-May-2011,2.45,Ramin Djawadi,Marco Pontecorvo,Frances Parker,8.6,9.1,"March 2, 2010",Second half of 2010,A Game of Thrones,10.0
4,1,5,The Wolf and the Lion,54,Brian Kirk,"David Benioff, D. B. Weiss",15-May-2011,2.58,Ramin Djawadi,Marco Pontecorvo,Frances Parker,9.0,9.0,"March 2, 2010",Second half of 2010,A Game of Thrones,9.5

In [48]:
df.head(2)

,Season,No. of Episode (Season),Title of the Episode,Running Time (Minutes),Directed by,Written by,Original Air Date,U.S. Viewers (Millions),Music by,Cinematography by,Editing by,IMDb Rating,Metacritic Ratings,Ordered,Filming Duration,Novel(s) Adapted,Rotten Tomatoes Rating
0,1,1,Winter Is Coming,61,Tim Van Patten,"David Benioff, D. B. Weiss",17-Apr-2011,2.22,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.9,9.1,"March 2, 2010",Second half of 2010,A Game of Thrones,10.0
1,1,2,The Kingsroad,55,Tim Van Patten,"David Benioff, D. B. Weiss",24-Apr-2011,2.20,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.6,8.9,"March 2, 2010",Second half of 2010,A Game of Thrones,10.0

In [49]:
df.sample(3)

,Season,No. of Episode (Season),Title of the Episode,Running Time (Minutes),Directed by,Written by,Original Air Date,U.S. Viewers (Millions),Music by,Cinematography by,Editing by,IMDb Rating,Metacritic Ratings,Ordered,Filming Duration,Novel(s) Adapted,Rotten Tomatoes Rating
5,1,6,A Golden Crown,52,Daniel Minahan,"Jane Espenson, David Benioff, D. B. Weiss",22-May-2011,2.44,Ramin Djawadi,Matthew Jensen,Martin Nicholson,9.1,9.2,"March 2, 2010",Second half of 2010,A Game of Thrones,10.0
65,7,6,Beyond the Wall,70,Alan Taylor,"David Benioff, D. B. Weiss",20-Aug-2017,10.24,Ramin Djawadi,Jonathan Freeman,Tim Porter,9.0,4.9,"April 21, 2016",August 2016 – February 2017,Outline from A Dream of Spring and original co...,8.4
55,6,6,Blood of My Blood,51,Jack Bender,Bryan Cogman,29-May-2016,6.71,Ramin Djawadi,Jonathan Freeman,Yan Miles,8.3,6.5,"April 8, 2014",July–December 2015,Outline from The Winds of Winter and original ...,8.6

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73 entries, 0 to 72
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Season                   73 non-null     int64
 1   No. of Episode (Season)  73 non-null     int64
 2   Title of the Episode     73 non-null     object
 3   Running Time (Minutes)   73 non-null     int64
 4   Directed by              73 non-null     object
 5   Written by               73 non-null     object
 6   Original Air Date        73 non-null     object
 7   U.S. Viewers (Millions)  73 non-null     float64
 8   Music by                 73 non-null     object
 9   Cinematography by        73 non-null     object
 10  Editing by               73 non-null     object
 11  IMDb Rating              73 non-null     float64
 12  Metacritic Ratings       73 non-null     float64
 13  Ordered                  73 non-null     object
 14  Filming Duration         73 non-null     object
 15  Novel(s) Adapted         73 non-null     object
 16  Rotten Tomatoes Rating   73 non-null     float64
dtypes: float64(4), int64(3), object(10)
memory usage: 10.3+ KB

In [51]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Season,73.0,4.205479,2.191897,1.0,2.0,4.00,6.00,8.00
No. of Episode (Season),73.0,5.191781,2.821827,1.0,3.0,5.00,7.00,10.00
Running Time (Minutes),73.0,56.945205,7.185809,49.0,52.0,55.00,58.00,81.00
U.S. Viewers (Millions),73.0,6.447808,2.827372,2.2,3.9,6.64,7.82,13.61
IMDb Rating,73.0,8.741096,0.932565,4.0,8.5,8.80,9.30,9.90
Metacritic Ratings,73.0,7.817808,1.684186,2.6,6.5,8.50,9.10,9.70
Rotten Tomatoes Rating,73.0,9.197260,1.149997,4.7,8.9,9.60,10.00,10.00

In [52]:
df.head(2)

,Season,No. of Episode (Season),Title of the Episode,Running Time (Minutes),Directed by,Written by,Original Air Date,U.S. Viewers (Millions),Music by,Cinematography by,Editing by,IMDb Rating,Metacritic Ratings,Ordered,Filming Duration,Novel(s) Adapted,Rotten Tomatoes Rating
0,1,1,Winter Is Coming,61,Tim Van Patten,"David Benioff, D. B. Weiss",17-Apr-2011,2.22,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.9,9.1,"March 2, 2010",Second half of 2010,A Game of Thrones,10.0
1,1,2,The Kingsroad,55,Tim Van Patten,"David Benioff, D. B. Weiss",24-Apr-2011,2.20,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.6,8.9,"March 2, 2010",Second half of 2010,A Game of Thrones,10.0

In [53]:
df.columns

Index(['Season', 'No. of Episode (Season)', 'Title of the Episode',
       'Running Time (Minutes)', 'Directed by', 'Written by',
       'Original Air Date', 'U.S. Viewers (Millions)', 'Music by',
       'Cinematography by', 'Editing by', 'IMDb Rating', 'Metacritic Ratings',
       'Ordered', 'Filming Duration', 'Novel(s) Adapted',
       'Rotten Tomatoes Rating'],
      dtype='object')

In [54]:
df.head(3)

,Season,No. of Episode (Season),Title of the Episode,Running Time (Minutes),Directed by,Written by,Original Air Date,U.S. Viewers (Millions),Music by,Cinematography by,Editing by,IMDb Rating,Metacritic Ratings,Ordered,Filming Duration,Novel(s) Adapted,Rotten Tomatoes Rating
0,1,1,Winter Is Coming,61,Tim Van Patten,"David Benioff, D. B. Weiss",17-Apr-2011,2.22,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.9,9.1,"March 2, 2010",Second half of 2010,A Game of Thrones,10.0
1,1,2,The Kingsroad,55,Tim Van Patten,"David Benioff, D. B. Weiss",24-Apr-2011,2.20,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.6,8.9,"March 2, 2010",Second half of 2010,A Game of Thrones,10.0
2,1,3,Lord Snow,57,Brian Kirk,"David Benioff, D. B. Weiss",1-May-2011,2.44,Ramin Djawadi,Marco Pontecorvo,Frances Parker,8.5,8.7,"March 2, 2010",Second half of 2010,A Game of Thrones,8.1

In [55]:
df.isnull().sum()

Season                     0
No. of Episode (Season)    0
Title of the Episode       0
Running Time (Minutes)     0
Directed by                0
Written by                 0
Original Air Date          0
U.S. Viewers (Millions)    0
Music by                   0
Cinematography by          0
Editing by                 0
IMDb Rating                0
Metacritic Ratings         0
Ordered                    0
Filming Duration           0
Novel(s) Adapted           0
Rotten Tomatoes Rating     0
dtype: int64

In [56]:
df.duplicated().sum()

0

In [57]:
df.to_csv("juego_de_tronos.csv")

---

In [14]:
df2 = pd.read_csv("characters.csv", index_col=0)
df3 = pd.read_csv("episodios_limpio.csv", index_col=0)

In [15]:
df2.reset_index(inplace=True)

In [16]:
df2.head()

,Character,Actor/ess,Episodes_appeared,First_appearance,Last_appearance
0,Tyrion Lannister,Peter Dinklage,67,2011,2019
1,Cersei Lannister,Lena Headey,62,2011,2019
2,Daenerys Targaryen,Emilia Clarke,62,2011,2019
3,Jon Snow,Kit Harington,62,2011,2019
4,Sansa Stark,Sophie Turner,59,2011,2019

In [17]:
df3.head()

,Title,Votes,Star_1,Star_2,Star_3
0,Winter Is Coming,38639,Sean Bean,Mark Addy,Nikolaj Coster-Waldau
1,The Kingsroad,29285,Sean Bean,Mark Addy,Nikolaj Coster-Waldau
2,Lord Snow,27694,Sean Bean,Mark Addy,Nikolaj Coster-Waldau
3,"Cripples, Bastards, and Broken Things",26284,Sean Bean,Mark Addy,Nikolaj Coster-Waldau
4,The Wolf and the Lion,27349,Sean Bean,Mark Addy,Nikolaj Coster-Waldau

In [8]:
df3.reset_index(inplace=True)

In [9]:
df3["Star_1"].unique()

array(['Sean Bean', 'Peter Dinklage', 'Emilia Clarke',
       'Nikolaj Coster-Waldau', 'Kit Harington'], dtype=object)

In [10]:
df3["Star_2"].unique()

array(['Mark Addy', 'Michelle Fairley', 'Lena Headey',
       'Nikolaj Coster-Waldau', 'Kit Harington', 'John Bradley',
       'Emilia Clarke'], dtype=object)

In [18]:
df3["Star_3"].unique()

array(['Nikolaj Coster-Waldau', 'Michelle Fairley', 'Lena Headey',
       'Emilia Clarke', 'Charles Dance', 'Richard Madden',
       'Hannah Murray', 'Kit Harington'], dtype=object)

In [19]:
df["Title of the Episode"].unique()

array(['Winter Is Coming', 'The Kingsroad', 'Lord Snow',
       'Cripples, Bastards, and Broken Things', 'The Wolf and the Lion',
       'A Golden Crown', 'You Win or You Die', 'The Pointy End', 'Baelor',
       'Fire and Blood', 'The North Remembers', 'The Night Lands',
       'What Is Dead May Never Die', 'Garden of Bones',
       'The Ghost of Harrenhal', 'The Old Gods and the New',
       'A Man Without Honor', 'The Prince of Winterfell', 'Blackwater',
       'Valar Morghulis', 'Valar Dohaeris', 'Dark Wings, Dark Words',
       'Walk of Punishment', 'And Now His Watch Is Ended',
       'Kissed by Fire', 'The Climb', 'The Bear and the Maiden Fair',
       'Second Sons', 'The Rains of Castamere', 'Mhysa', 'Two Swords',
       'The Lion and the Rose', 'Breaker of Chains', 'Oathkeeper',
       'First of His Name', 'The Laws of Gods and Men', 'Mockingbird',
       'The Mountain and the Viper', 'The Watchers on the Wall',
       'The Children', 'The Wars to Come', 'The House of Black and White',
       'High Sparrow', 'Sons of the Harpy', 'Kill the Boy',
       'Unbowed, Unbent, Unbroken', 'The Gift', 'Hardhome',
       'The Dance of Dragons', "Mother's Mercy", 'The Red Woman', 'Home',
       'Oathbreaker', 'Book of the Stranger', 'The Door',
       'Blood of My Blood', 'The Broken Man', 'No One',
       'Battle of the Bastards', 'The Winds of Winter', 'Dragonstone',
       'Stormborn', "The Queen's Justice", 'The Spoils of War',
       'Eastwatch', 'Beyond the Wall', 'The Dragon and the Wolf',
       'Winterfell', 'A Knight of the Seven Kingdoms', 'The Long Night',
       'The Last of the Starks', 'The Bells', 'The Iron Throne'],
      dtype=object)

In [20]:
df3["Title"].unique()

array(['Winter Is Coming', 'The Kingsroad', 'Lord Snow',
       'Cripples, Bastards, and Broken Things', 'The Wolf and the Lion',
       'A Golden Crown', 'You Win or You Die', 'The Pointy End', 'Baelor',
       'Fire and Blood', 'The North Remembers', 'The Night Lands',
       'What Is Dead May Never Die', 'Garden of Bones',
       'The Ghost of Harrenhal', 'The Old Gods and the New',
       'A Man Without Honor', 'The Prince of Winterfell', 'Blackwater',
       'Valar Morghulis', 'Valar Dohaeris', 'Dark Wings, Dark Words',
       'Walk of Punishment', 'And Now His Watch Is Ended',
       'Kissed by Fire', 'The Climb', 'The Bear and the Maiden Fair',
       'Second Sons', 'The Rains of Castamere', 'Mhysa', 'Two Swords',
       'The Lion and the Rose', 'Breaker of Chains', 'Oathkeeper',
       'First of His Name', 'The Laws of Gods and Men', 'Mockingbird',
       'The Mountain and the Viper', 'The Watchers on the Wall',
       'The Children', 'The Wars to Come', 'The House of Black and White',
       'High Sparrow', 'Sons of the Harpy', 'Kill the Boy',
       'Unbowed, Unbent, Unbroken', 'The Gift', 'Hardhome',
       'The Dance of Dragons', "Mother's Mercy", 'The Red Woman', 'Home',
       'Oathbreaker', 'Book of the Stranger', 'The Door',
       'Blood of My Blood', 'The Broken Man', 'No One',
       'Battle of the Bastards', 'The Winds of Winter', 'Dragonstone',
       'Stormborn', "The Queen's Justice", 'The Spoils of War',
       'Eastwatch', 'Beyond the Wall', 'The Dragon and the Wolf',
       'Winterfell', 'A Knight of the Seven Kingdoms', 'The Long Night',
       'The Last of the Starks', 'The Bells', 'The Iron Throne'],
      dtype=object)

In [21]:
df3.head()

,Title,Votes,Star_1,Star_2,Star_3
0,Winter Is Coming,38639,Sean Bean,Mark Addy,Nikolaj Coster-Waldau
1,The Kingsroad,29285,Sean Bean,Mark Addy,Nikolaj Coster-Waldau
2,Lord Snow,27694,Sean Bean,Mark Addy,Nikolaj Coster-Waldau
3,"Cripples, Bastards, and Broken Things",26284,Sean Bean,Mark Addy,Nikolaj Coster-Waldau
4,The Wolf and the Lion,27349,Sean Bean,Mark Addy,Nikolaj Coster-Waldau

In [22]:
df3.columns

Index(['Title', 'Votes', 'Star_1', 'Star_2', 'Star_3'], dtype='object')

In [23]:
#df3.drop(["Season", "Episode", 'Release_date', 'Rating',
       'Summary', 'Writer_1', 'Writer_2',
       'Users_reviews', 'Critics_reviews', 'US_Viewers', 'Duration',
       'Director', 'Budget_estimate'], axis= 1, inplace=True)

KeyError: "['Season', 'Episode', 'Release_date', 'Rating', 'Summary', 'Writer_1', 'Writer_2', 'Users_reviews', 'Critics_reviews', 'US_Viewers', 'Duration', 'Director', 'Budget_estimate'] not found in axis"

In [24]:
df3.head(2)

              Title  Votes     Star_1     Star_2                 Star_3
0  Winter Is Coming  38639  Sean Bean  Mark Addy  Nikolaj Coster-Waldau
1     The Kingsroad  29285  Sean Bean  Mark Addy  Nikolaj Coster-Waldau

In [25]:
df2.head(2)

,Character,Actor/ess,Episodes_appeared,First_appearance,Last_appearance
0,Tyrion Lannister,Peter Dinklage,67,2011,2019
1,Cersei Lannister,Lena Headey,62,2011,2019

In [26]:
df3.to_csv("episodios_limpio.csv")

In [27]:
diccionario_personajes= {"Stark":
			[
				"Arya Stark",
				"Benjen Stark",
				"Bran Stark",
				"Catelyn Stark",
				"Eddard Stark",
				"Ghost",
				"Grey Wind",
				"Jon Snow",
				"Lady",
				"Nymeria",
				"Rickon Stark",
				"Robb Stark",
				"Sansa Stark",
				"Shaggydog",
				"Summer"
			],
			"Targaryen":[
				"Daenerys Targaryen",
				"Drogon",
				"Rhaegal",
				"Viserion",
				"Viserys Targaryen"
			],
			"Baratheon":[
				"Joffrey Baratheon",
				"Myrcella Baratheon",
				"Renly Baratheon",
				"Robert Baratheon",
				"Selyse Baratheon",
				"Shireen Baratheon",
				"Stannis Baratheon",
				"Tommen Baratheon",
				"Gendry"
			],
			"Lannister":[
				"Cersei Lannister",
				"Jaime Lannister",
				"Kevan Lannister",
				"Lancel Lannister",
				"Tyrion Lannister",
				"Tywin Lannister"
			], 
		"Night's Watch":[
				"Alliser Thorne",
				"Eddison Tollett",
				"Grenn",
				"Jeor Mormont",
				"Karl Tanner",
				"Maester Aemon",
				"Olly",
				"Othell Yarwyck",
				"Pypar",
				"Qhorin Halfhand",
				"Rast",
				"Samwell Tarly",
				"Yoren"
			],
		"Dothraki":[
				"Doreah",
				"Irri",
				"Khal Drogo",
				"Rakharo",
				"Qhono"
			],
		
			"Greyjoy":[
				"Balon Greyjoy",
				"Euron Greyjoy",
				"Theon Greyjoy",
				"Yara Greyjoy"
			],
			"Tyrell":[
				"Loras Tyrell",
				"Mace Tyrell",
				"Margaery Tyrell",
				"Olenna Tyrell"
			],
		"Wildlings":[
				"Baby Sam",
				"Craster",
				"Gilly",
				"Mag the Mighty",
				"Mance Rayder",
				"Osha",
				"Rattleshirt",
				"Thenn Warg",
				"Tormund Giantsbane",
				"Wun Wun",
				"Ygritte"
			],
		"Martell":[
				"Doran Martell",
				"Ellaria Sand",
				"Nymeria Sand",
				"Obara Sand",
				"Oberyn Martell",
				"Trystane Martell",
				"Tyene Sand"
			],
		"Frey":[
				"Black Walder Rivers",
				"Lothar Frey",
				"Walder Frey"
			],
		"Tully":[
				"Brynden Tully",
				"Edmure Tully"
			],
		"White Walkers":[
				"Mag the Mighty Wight",
				"The Night King",
				"White Walker",
				"Wight Wildling Girl",
				"Wun Wun Wight"
			],
		"Include":[
				"Archmaester Ebrose",
				"Barristan Selmy",
				"Beric Dondarrion",
				"Brienne of Tarth",
				"Bronn",
				"Daario Naharis",
				"Davos Seaworth",
				"Gendry",
				"Grand Maester Pycelle",
				"Greatjon Umber",
				"Gregor Clegane",
				"Greizhen mo Ullhor",
				"Grey Worm",
				"Hallyne",
				"High Sparrow",
				"Hizdahr zo Loraq",
				"Hodor",
				"Hot Pie",
				"Janos Slynt",
				"Jaqen H'ghar",
				"Jojen Reed",
				"Jorah Mormont",
				"Jory Cassel",
				"Kraznys mo Nakloz",
				"Lady Crane",
				"Leaf",
				"Locke",
				"Lommy Greenhands",
				"Lord Varys",
				"Lyanna Mormont",
				"Lysa Arryn",
				"Maester Luwin",
				"Matthos Seaworth",
				"Meera Reed",
				"Melisandre",
				"Mirri Maz Duur",
				"Missandei",
				"Olyvar",
				"Petyr Baelish",
				"Podrick Payne",
				"Prendahl na Ghezn",
				"Pyat Pree",
				"Qyburn",
				"Ramsay Snow",
				"Razdal mo Eraz",
				"Rickard Karstark",
				"Robin Arryn",
				"Rodrik Cassel",
				"Roose Bolton",
				"Ros",
				"Salladhor Saan",
				"Sandor Clegane",
				"Septa Mordane",
				"Septa Unella",
				"Shae",
				"Silk King",
				"Smalljon Umber",
				"Syrio Forel",
				"Talisa Maegyr",
				"The Waif",
				"Thoros of Myr",
				"Three-Eyed Raven",
				"Xaro Xhoan Daxos",
				"Yezzan zo Qaggaz",
				"Yohn Royce"
			]
		}

In [28]:
def houses(col):
    for k,v in diccionario_personajes.items():
        if col in v:
            return k

In [29]:
df2["houses"] = df2["Character"].apply(houses)

In [30]:
df2["houses"].value_counts()

Include          64
Night's Watch    13
Wildlings        13
Baratheon        12
Stark             8
Martell           7
Lannister         6
Dothraki          5
Greyjoy           4
Tyrell            4
Frey              4
White Walkers     4
Targaryen         2
Tully             1
Name: houses, dtype: int64

In [31]:
df2.head(2)

,Character,Actor/ess,Episodes_appeared,First_appearance,Last_appearance,houses
0,Tyrion Lannister,Peter Dinklage,67,2011,2019,Lannister
1,Cersei Lannister,Lena Headey,62,2011,2019,Lannister

In [32]:
df2.to_csv("characters_casas.csv")

In [33]:
df4 = pd.read_csv("houses_v1.csv", index_col=0).reset_index()

In [34]:
df2["Character"].unique()

array(['Tyrion Lannister', 'Cersei Lannister', 'Daenerys Targaryen',
       'Jon Snow', 'Sansa Stark', 'Arya Stark', 'Jaime Lannister',
       'Jorah Mormont', 'Samwell Tarly', 'Theon Greyjoy', 'Lord Varys',
       'Davos Seaworth', 'Brienne of Tarth',
       "Petyr 'Littlefinger' Baelish", 'Bran Stark',
       "Sandor 'The Hound' Clegane", 'Missandei', 'Bronn',
       'Podrick Payne', 'Grey Worm', 'Eddison Tollett',
       'Tormund Giantsbane', 'Grand Maester Pycelle', 'Melisandre',
       'Tywin Lannister', 'Gilly', 'Margaery Tyrell', 'Joffrey Baratheon',
       'Catelyn Stark', 'Barristan Selmy', 'Stannis Baratheon', 'Gendry',
       'Hodor', 'Qyburn', 'Grenn', 'Robb Stark', 'Loras Tyrell', 'Shae',
       'Ramsay Bolton', 'Roose Bolton', 'Alliser Thorne',
       'Daario Naharis', 'Olenna Tyrell', 'Tommen Baratheon', 'Ygritte',
       "Jaqen H'ghar", "Gregor 'The Mountain' Clegane", 'Olly',
       'Meryn Trant', 'Osha', 'Yara Greyjoy', 'Meera Reed', 'Wun Wun',
       'Lancel Lannister', 'Janos Slynt', 'Maester Luwin', 'Ros',
       'Rickon Stark', 'Othell Yarwyck', 'Ellaria Sand', 'Rodrik Cassel',
       'Beric Dondarrion', 'Mace Tyrell', 'Yohn Royce', 'Pypar', 'Irri',
       'High Sparrow', 'Jeor Mormont', 'Maester Wolkan',
       'Kevan Lannister', 'Rast', 'Hot Pie', 'Talisa Stark',
       'Maester Aemon', 'The Waif', 'Doreah', 'Qhono',
       "Eddard 'Ned' Stark", 'Thoros of Myr', 'Selyse Baratheon',
       'Jojen Reed', 'Shireen Baratheon', 'Bowen Marsh', 'Khal Drogo',
       'Euron Greyjoy', 'Edmure Tully', 'Tyene Sand', 'Lyanna Mormont',
       'Robin Arryn', 'Renly Baratheon', 'Locke', 'Obara Sand',
       'Hizdahr zo Loraq', 'Nymeria Sand', 'Septa Unella', 'Myranda',
       'Kovarro', 'Myrcella Baratheon', 'Marei', 'Robert Baratheon',
       'Oberyn Martell', 'Yoren', "Brynden 'Blackfish' Tully", 'Olyvar',
       'Rakharo', 'Bernadette', 'Walder Frey', 'Benjen Stark', 'Orell',
       'Areo Hotah', 'Septa Mordane', 'Black Walder Rivers', 'Qotho',
       'Dontos Hollard', 'Anguy', 'High Septon', 'Alys Karstark',
       "Night's Watch Officer", 'Viserys Targaryen', 'Jory Cassel',
       'Lysa Arryn', 'Mance Rayder', 'Craster', 'Doran Martell',
       'Xaro Xhoan Daxos', 'Randyll Tarly', 'Robett Glover',
       'Rickard Karstark', 'Dagmer Cleftjaw', 'Walda Bolton',
       'Trystane Martell', 'The Night King', 'Archmaester Ebrose',
       'Tycho Nestoris', 'Balon Greyjoy', 'Pyat Pree', 'Styr',
       'Yezzan zo Qaggaz', 'Karl Tanner', 'Ilyn Payne', 'Marillion',
       'Dickon Tarly', 'Qhorin Halfhand', 'Lothar Frey', 'Rorge',
       'Lommy Greenhands', 'Matthos Seaworth', 'Armeca', 'Royal Steward',
       'Black Lorren', 'Amory Lorch', 'Biter', 'Young Ned', 'Baby Sam',
       'Timett', 'Steelshanks Walton', 'Izembaro', 'Lady Crane',
       'Spice King', 'Three-Eyed Raven', 'Syrio Forel', 'Harrag',
       'Salladhor Saan', 'Greatjon Umber', 'Camello', 'Harald Karstark',
       'Giant Wight #2', 'Leaf', 'Bobono', 'Razdal mo Eraz', 'Lhara',
       'Clarenzo', 'Thenn Warg', 'Mirri Maz Duur', 'Polliver',
       'Alton Lannister', 'Khal Moro', 'Ned Umber', 'Kraznys mo Nakloz',
       'Mossador', 'White Walker', 'Rattleshirt', 'Vala', 'Daisy',
       'Bathhouse Prostitute', 'Silk King', 'Dothraki Bloodrider #1',
       'Musician #1', 'Dothraki Bloodrider #2', 'Musician #2',
       'Musician #3', 'Musician #4', "Loyal Night's Watchman #2",
       'Musician #5', "King's Landing Whore", 'Dothraki Woman Having Sex',
       'Aggo', 'Frances', 'Brothel Patron #5', 'Hallyne',
       'Harry Strickland', 'Illyrio Mopatis', 'Lem Lemoncloak',
       'Smalljon Umber', 'Martha', 'Mord', 'Aeron Greyjoy', 'Dim Dalba',
       'Belicho Paenymion', 'Fergus', 'Gatins', 'Teela', 'Old Nan',
       'Morgan', 'Woman with Elderly Parents', 'Malko', 'Thin Man',
       'Bianca', 'Vardis Egen', 'Shagga', 'Quaithe',
       'Margaery Tyrell Mummer', 'Old Woman', 'Hugh of the Vale', 'Morag',
       'Todder', 'Johnna', 'Willa', 'Lady Kitty Frey', 'Lyanna Stark',
       'Village Woman', 'Farlen', 'Donnel Waynwood', 'Drennan', 'Sissy',
       'Dosh khaleen High Priestess', 'Zanrush', 'Ornela', 'Young Nan',
       'Kurleket', 'Winterfell Shepherd', 'The Tickler', 'Ghita',
       'Wyllis', 'Greizhen mo Ullhor', "Mole's Town Whore", 'Willis Wode',
       'Jacks', 'Goldcloak', "King's Landing Rioter #1", 'Ternesio Terys',
       "Moro's Wife #2", 'Master Torturer', 'Great Master #1',
       'Young Ned Stark', 'Young Rodrik Cassel', 'Mhaegen', nan,
       "Mole's Town Madam", 'Lannister Captain', 'Quent',
       'Young Benjen Stark', 'Dothraki Widow #1', 'Stark Guard',
       'Mummer #2', 'Kayla', 'Manservant', 'Mummer #3', 'Tobho Mott',
       'Mummer #4', "Night's Watchman #1", 'Dothraki Widow #2',
       'Willem Lannister', 'Baratheon Soldier #2',
       "Loyal Night's Watchman #1", "Night's Watchman #2",
       "Night's Watchman", 'The Mother', 'Male Prostitute', 'The Maiden',
       'The Crone', 'Arthur', 'Little Bird #4', 'Little Bird #3',
       'Little Bird #6', 'Little Bird #5', 'Little Bird #7',
       'Joyeuse Frey', 'Tyrell Lady', 'Tommy', 'Leo Lefford',
       'Ironborn #2', 'Brother Ray', 'Nora', 'Xela', 'Lannister Soldier',
       'Karsi', "Nora's Daughter", 'Singing Lannister Soldier',
       'Northern Sentry', 'Dying Man', 'Loboda', 'Stark Soldier',
       'Unsullied Captain', 'Imry Florent',
       'Captain of the Bolton Archers', 'Koner', 'Ironborn Lord',
       'Young Woman', 'Mandon Moore', 'Bolton General',
       'Northerner in Alley', 'Dornish Prince', 'Jhiqui',
       'Baratheon Officer', 'Northman Rider', 'Melessa Tarly',
       'Winterfell Local', 'Riverlands Lord', 'Will',
       'Captain of the Archers', 'Lord of Bones', 'Northman Archer',
       'Lord Une', 'Mycah', 'Jon Arryn', 'Mero', 'Vale Lord',
       'Waymar Royce', 'Prendahl na Ghezn', 'Goatherd', 'Northern Lord',
       "King's Landing Citizen", 'Gared', 'Catspaw Assassin',
       'Maester Cressen', 'Septon', 'First Mate', 'Citadel Maester',
       'Wight at Table', 'Crying Man', 'Lannister Guard', 'Maggy',
       "The Waif's Disguise", 'Lannister', 'Roslin Frey', 'Anya Waynwood',
       'Braavosi Captain', 'Ironborn #1', 'Westerosi Trader',
       'Street Red Priestess Meereen', 'Old Man', "Yunkai'i Whore",
       'Ironborn in Skiff', 'Black Armored White Walker', 'Slaver',
       'Bear Island Maester', 'Rhaegar Targaryen', "Fergus' Friend",
       'Sarra', 'Villager 1', 'Wine Merchant', 'Frey Guard', 'Prisoner',
       'Joss', 'Volantene Whore #1', 'High Septon Maynard',
       'Winterfell Girl', 'Pentoshi Servant', 'Merry Frey',
       'Bolton Guard', 'Ralf Kenning', 'Pit Announcer',
       'Street Red Priestess Volantis', 'Winter Town Man',
       'Northman Rioter', 'Tully Bannerman', 'Aerys Targaryen', 'Crayah',
       'Varly', 'Hog Farmer', 'Elder Meereen Slave', 'Great Master #2',
       'Wildling Rioter', 'Crossroads Inn Patron', 'Lannister General',
       "'Littlefinger' Winterfell Spy", 'Northman', 'Dirah',
       'White Walker #2', 'Drowned Priest', "Theon's Master of Hounds",
       'Fennesz', 'Tansy', "Goatherd's Son", 'Braavosi Madam',
       'Merchant Captain', 'Great Master #3', 'Talla Tarly',
       "King's Landing Boaster", 'Ash', 'Dothraki Crone', 'Jaremy Rykker',
       'Wight Wildling Girl', "Captain's Daughter", 'Rennick',
       'Wendel Manderly', 'Adrack Humble', "Morgan's Friend",
       'Young Braavosi', 'Great Master #4', 'Lead Dornish Guard',
       "Moro's Wife #1", 'Kesh', 'Ironborn at Brothel', 'Riddell',
       'Drunk Patron', 'Torrhen Karstark', 'Drummer', 'Great Master #5',
       'Kinvara', 'Steve', 'Volantene Whore #2', 'Tyrell Bannerman',
       'Winter Town Boy', 'Tomard', 'Stiv', "King's Landing Baker",
       'Goldcloak #1', 'Karstark Soldier #1', 'Lordsport Dockhand',
       'Bolton Soldier', 'Vance Corbray', 'Valyrian Slave',
       'Axell Florent', 'Innkeeper', 'Great Master #6', 'Khal Forzho',
       'Volantene Whore #3', 'Winter Town Woman', 'Goldcloak #2',
       'Little Bird', 'Knight of House Lynderly', 'Old Woman Prisoner',
       'Mirelle', 'Sorcerer', 'Unsullied', 'Lord Blackmont',
       'Great Master #7', 'Brothel Guard', 'Faith Militant #1',
       'Volantene Whore #4', 'Stevron Frey', 'Eon Hunter', 'Gerald',
       'Boat Commander', 'Kegs', 'Derek', 'Lollys Stokeworth',
       'Despondent Man', 'Faith Militant #2', 'Volantene Whore #5',
       'Ryger Rivers', "Night's Watch Deserter",
       "King's Landing Rioter #2", 'Colen of Greenpools',
       'Wounded Lannister', 'Protestor', "Margaery's Handmaiden",
       'Frey Soldier #1', 'Riverlands Traveller', 'Black Jack Bulwer',
       'Ser Endrew Tarth', "Craster's Wife #2", 'Brant', 'Faceless Man',
       'Sellsword #1', 'Second Son', 'Rickard Stark',
       'Ironborn Abusing a Volantene Whore', 'Poisoned Frey',
       "King's Landing Urchin", 'Tortured Prisoner',
       'Karstark Soldier #2', "King's Landing Rioter #3", 'Orphan Kid',
       'Karstark Lookout', "King's Landing Tailor", 'Frey Soldier #2',
       "Craster's Wife #3", 'Farmer Hamlet', 'Mully', 'Tyrell Guard',
       'Sellsword #2', 'Lannister Guard #1', 'Lead Kingsguard',
       'Arthur Dayne', 'Frey Lord', 'Reginald Lannister',
       'Brothel Customer', 'Violet', 'Fruit Vendor', 'Tyrell Servant',
       'Warlock', 'King Joffrey Baratheon Dwarf', 'Wight', 'Clea',
       'Brusco', 'Foreign Merchant', 'Gerold Hightower', 'Iggo',
       'Sick Maester', 'Whore #1', 'King Stannis Baratheon Dwarf',
       'Sailor', 'Beggar Woman', 'Denys Mallister',
       'Young Cersei Lannister', 'Khal Brozho', 'Jonos Bracken',
       'Stark Messenger', "Jaqen's Disguise", 'Desmond Crakehall',
       'Guymon', 'King Renly Baratheon Dwarf', 'Baratheon General',
       'Melara Hetherspoon', 'Braavosi Woman #1', 'Khal Rhalko',
       'Young Lyanna Stark', 'Knight of House Frey',
       'Lannister Messenger', 'Lannister Torturer', "Yunkai'i Slave #1",
       'King Robb Stark Dwarf', "Innkeeper's Daughter", "Olly's Mother",
       'Street Tough #1', 'Septa Moelle', 'White Rat', 'Anara',
       'Khal Qorro', 'Braavosi Woman #2', 'Serving Girl',
       'Addam Marbrand', 'Vayon Poole', "Yunkai'i Slave #2",
       'King Balon Greyjoy Dwarf', 'Whore #2', 'Strong Sam Stone',
       'Septa Scolera', 'Mallister Supporter', 'Brea', 'Masha Heddle',
       "Night's Watch Messenger", 'Qartheen Woman', "Craster's Wife",
       "Yunkai'i Slave #3", 'Eyrie Guard', 'Whore', "Yunkai'i Slave #4",
       "Craster's Younger Wife", 'Sparring Boy', 'Street Tough #2', 'Aya',
       'Brothel Child #1', 'Bolton Officer', 'Lannister Scout', 'Rhaego',
       "Yunkai'i Slave #5", 'Maester Helliweg', 'Brothel Child #2',
       'Inn Waitress', 'Lannister Guard #2', 'Handmaid', 'Ironborn #3',
       'Genna', 'Son of the Harpy', 'Baratheon Soldier #1',
       'Lannister Guard #3', 'Meereenese Homeless Mother',
       "Tommen's Attendant", 'Red Keep Stableboy', 'Dwarf Hunter #1',
       'Maester Caleotte', "Tommen's Manservant", 'Chella', 'Gordy',
       'Dwarf Hunter #2', 'Wyman Manderly', 'Lord Portan',
       "Farmer's Daughter", 'Simpson', 'Cley Cerwyn', 'Tourney Herald',
       'Tortured Slave', 'Woodcutter', 'Dothraki Man Having Sex',
       "King's Landing Drunkard", 'Meereen Slave',
       "King's Landing Flasher #1", "King's Landing Flasher #2",
       'Cersei Body Double', 'The Bear', 'Baratheon Soldier',
       "Night's Watch", 'Ironborn', 'Brotherhood Member',
       'Knight of the Vale', 'Knight', 'Wildling', 'Stark Archer',
       "King's Landing Nobleman", 'Dothraki woman', 'Meereen Guard',
       'Unsullied Soldier', 'Lord Galbart Glover', 'Mikken', 'Nobleman',
       'Frey Wedding Guest', 'Dothraki Rider',
       "King's Landing Handmaiden", 'Tyrell Cousin', 'Burning Lannister',
       'Tully Soldier', 'Karstark Soldier', 'Bolton Infantry',
       'Kingsland Taverner', 'Braavosi Theatre Server',
       'Braavosi Theatre Sound Artist', 'Captured Wight',
       'Lady of Winterfell', 'Baratheon Guard', 'Prostitute',
       'Winterfell Beekeeper', 'Mago', 'Lady of Eyrie Landing (2011)',
       'Peasant', "King's Guard", 'Baratheon Archer', 'Black Knight',
       'Lannister Archer', 'Weasel', 'Young Nobleman',
       "Craster's Daughter", 'Riverrun Nobleman', 'Marianne Frey',
       'Musician', 'Hoster Tully', 'Bathhouse Boy',
       'Khaleesi Handmaiden #1', 'Yunkai Citizen', 'Dothraki',
       'Noble Man', 'Waitress', 'Cooper', 'Dragonstone waiter',
       'Stannis Guard', 'Wedding Guest', 'Inn Customer',
       'Frey Serving Boy', 'Noble Lady', "Night's Watch Archer",
       'Donnel Hill', 'Wedding Band', 'Strong Fighter', 'Fighter',
       'Wildling Archer', 'Slave', 'Pit Fighter', 'Wilding Gladiator',
       "Night's Watch Recruit", 'Passerby', 'Unsullied Guard',
       'Volantene Whore', 'Child of the Forest #1',
       'Child of the Forest #2', 'Tavern Maid', 'Frey Daughter', 'Quinn',
       "'That's Right' Man", 'Child of the Forest #3', 'Healtor Troop',
       'Howland Reed', 'Traveller', "Woman in King's Landing",
       'Lannister Map Painter', 'Lannister Spearman', 'Wildling #2',
       'Alanna', 'Soldier', 'Lannister Officer', 'Grieving Daughter',
       'Wildling Wight', 'Wildling #1'], dtype=object)

In [35]:
df2["houses"].unique()

array(['Lannister', 'Targaryen', 'Stark', 'Include', "Night's Watch",
       'Greyjoy', None, 'Wildlings', 'Tyrell', 'Baratheon', 'Martell',
       'Dothraki', 'Tully', 'Frey', 'White Walkers'], dtype=object)

In [36]:
df4["House_name"].unique()

array(['Algood', 'Allyrion of Godsgrace', 'Amber', 'Ambrose',
       'Andrik of Southshield', 'Appleton of Appleton',
       'Arryn of Gulltown', 'Arryn of the Eyrie', 'Ashford of Ashford',
       'Ashwood', 'Baelish of Harrenhal', 'Baelish of the Fingers',
       'Ball', 'Banefort of Banefort', 'Bar Emmon of Sharp Point',
       'Baratheon of Dragonstone', "Baratheon of King's Landing",
       "Baratheon of Storm's End", 'Beesbury of Honeyholt', 'Belgrave',
       'Belmore of Strongsong', 'Bettley', 'Bigglestone',
       'Blackbar of Bandallon', 'Blackberry', 'Blackfyre',
       'Blackmont of Blackmont', 'Blackmyre', 'Blacktyde of Blacktyde',
       'Blackwood of Raventree Hall', 'Blanetree', 'Blount', 'Boggs',
       'Bole', 'Bolling', 'Bolton of the Dreadfort',
       'Bolton of Winterfell', 'Borrell of Sweetsister',
       'Botley of Lordsport', 'Bracken of Stone Hedge', 'Branch',
       'Brax of Hornvale', 'Breakstone', 'Briar', 'Bridges',
       'Brightstone', 'Brook', 'Broom', 'Brownhill',
       'Brune of Brownhollow', 'Brune of the Dyre Den',
       'Buckler of Bronzegate', 'Buckwell of the Antlers',
       'Bulwer of Blackcrown', 'Burley', 'Bushy',
       'Butterwell of Whitewalls', 'Byrch', 'Bywater',
       'Cafferen of Fawnton', 'Cargyll', 'Caron of Nightsong', 'Cassel',
       'Casterly of Casterly Rock', 'Caswell of Bitterbridge', 'Cave',
       'Celtigar of Claw Isle', 'Cerwyn of Castle Cerwyn', 'Chambers',
       'Charlton', 'Chelsted', 'Chester of Greenshield', 'Chyttering',
       "Clegane of Clegane's Keep", 'Clifton', 'Cobb', 'Cockshaw', 'Codd',
       'Coldwater of Coldwater Burn', 'Cole', 'Condon', 'Conklyn',
       "Connington of Griffin's Roost", "Corbray of Heart's Home",
       'Cordwayner of Hammerhal', 'Costayne of the Three Towers',
       'Cox of Saltpans', 'Crabb of the Whispers',
       'Crakehall of Crakehall', 'Crane of Red Lake', 'Cray', 'Cressey',
       'Crowl of Deepdown', 'Cupps', 'Cuy of Sunhouse',
       'Dalt of Lemonwood', 'Dargood', 'Darke', 'Darklyn of Duskendale',
       'Darkwood', 'Darry of Darry', 'Dayne of High Hermitage',
       'Dayne of Starfall', 'Deddings', 'Doggett',
       'Dondarrion of Blackhaven', 'Donniger', 'Drinkwater', 'Drox',
       'Drumm of Old Wyk', 'Dryland of Hellgate Hall', 'Dunn',
       'Durrandon', 'Durwell', 'Dustin of Barrowton', 'Edgerton', 'Egen',
       'Elesham of the Paps', 'Erenford', 'Errol of Haystack Hall',
       'Estermont of Greenstone', 'Estren of Wyndhall', 'Falwell',
       'Farman of Faircastle', 'Farring', 'Farrow',
       'Farwynd of Sealskin Point', 'Farwynd of the Lonely Light',
       'Fell of Felwood', 'Fenn', 'Ferren', 'Fisher of the Misty Isle',
       'Fisher of the Stony Shore', 'Flint of Breakstone Hill',
       "Flint of Flint's Finger", 'Flint of the mountains',
       "Flint of Widow's Watch", 'Florent of Brightwater Keep', 'Follard',
       'Foote', 'Foote of Nightsong', 'Footly of Tumbleton', 'Forrester',
       'Fossoway of Cider Hall', 'Fossoway of New Barrel',
       'Fowler of Skyreach', 'Frey of Riverrun', 'Frey of the Crossing',
       'Frost', 'Gardener of Highgarden', 'Gargalen of Salt Shore',
       'Garner', 'Gaunt', 'Glover of Deepwood Motte', 'Goodbrook',
       'Goodbrother of Corpse Lake', 'Goodbrother of Crow Spike Keep',
       'Goodbrother of Downdelving', 'Goodbrother of Orkmont',
       'Goodbrother of Shatterstone', 'Goodbrother of Hammerhorn',
       'Goode', 'Gower', 'Graceford of Holyhall', 'Grafton of Gulltown',
       'Grandison of Grandview', 'Graves', 'Greenfield of Greenfield',
       'Greengood', 'Greenhill', 'Greenwood', 'Grell', 'Grey',
       'Greyiron of Orkmont', 'Greyjoy of Pyke',
       "Greystark of the Wolf's Den", 'Grimm of Greyshield', 'Groves',
       'Haigh', 'Hamell', 'Harclay', 'Hardy', 'Hardyng',
       'Harlaw of Grey Garden', 'Harlaw of Harlaw Hall',
       'Harlaw of Harridan Hill', 'Harlaw of Harlaw',
       'Harlaw of the Tower of Glimmering', 'Harroway of Harrenhal',
       'Harte', 'Hastwyck', 'Hasty', 'Hawick of Saltpans', 'Hawthorne',
       'Hayford of Hayford', 'Heddle', 'Herston', 'Hersy of Newkeep',
       'Hetherspoon', 'Hewett of Oakenshield',
       'Hightower of the Hightower', 'Hoare of Orkmont',
       "Hogg of Sow's Horn", 'Hollard', 'Holt', 'Hook',
       'Hornwood of Hornwood', 'Horpe', 'Hull', 'Humble', 'Hunt',
       'Hunter of Longbow Hall', 'Hutcheson', 'Inchfield', 'Ironmaker',
       'Ironsmith', 'Jast', 'Jordayne of the Tor', 'Justman',
       'Karstark of Karhold', 'Keath', 'Kellington', 'Kenning of Harlaw',
       'Kenning of Kayce', 'Kettleblack', 'Kidwell of Ivy Hall', 'Knott',
       'Kyndall', 'Ladybright', 'Lake', 'Langward', 'Lannett',
       'Lannister of Casterly Rock', 'Lannister of Darry',
       'Lannister of Lannisport', 'Lanny', 'Lantell', 'Leek',
       'Lefford of the Golden Tooth', 'Leygood', 'Liddle', 'Lightfoot',
       'Lipps', 'Locke of Oldcastle', 'Lolliston', 'Long',
       'Longthorpe of Longsister', 'Longwaters', 'Lonmouth', 'Lorch',
       'Lothston of Harrenhal', 'Lowther', 'Lyberr', 'Lychester',
       'Lydden of Deep Den', 'Lynderly of Snakewood',
       'Magnar of Kingshouse', 'Mallery', 'Mallister of Seagard',
       'Manderly of White Harbor', 'Mandrake', 'Manning',
       'Manwoody of Kingsgrave', 'Marbrand of Ashemark', 'Marsh',
       'Martell of Sunspear', 'Massey of Stonedance',
       'Meadows of Grassy Vale', 'Melcolm of Old Anchor',
       'Merlyn of Pebbleton', 'Merryweather of Longtable',
       'Mertyns of Mistwood', 'Middlebury', 'Mollen', 'Moore',
       'Mooton of Maidenpool', 'Moreland', 'Mormont of Bear Island',
       "Morrigen of Crow's Nest", 'Moss', 'Mudd of Oldstones',
       'Mullendore of Uplands', 'Musgood', 'Myatt', 'Myre of Harlaw',
       "Nayland of Hag's Mire", 'Netley', 'Norcross', 'Norrey',
       'Norridge', 'Nute of Oakenshield', 'Nutt', 'Oakheart of Old Oak',
       'Oldflowers', 'Orkwood of Orkmont', 'Orme', 'Osgrey of Leafy Lake',
       'Osgrey of Standfast', 'Overton', 'Paege', 'Parren', 'Payne',
       'Peake of Starpike', 'Peasebury of Poddingfield', 'Peat',
       'Peckledon', 'Pemford', 'Penny', 'Penrose of Parchments', 'Perryn',
       'Piper of Pinkmaiden', 'Plumm', 'Pommingham', 'Poole', 'Potter',
       'Prester of Feastfires', 'Pryor of Pebble', 'Pyle', 'Pyne',
       'Qoherys of Harrenhal', 'Qorgyle of Sandstone', 'Quagg', 'Rambton',
       'Redbeard', 'Redding', 'Redfort of Redfort',
       'Redwyne of the Arbor', 'Reed of Greywater Watch',
       'Reyne of Castamere', 'Rhysling', 'Risley of Risley Glade',
       'Rogers of Amberly', 'Rollingford',
       "Roote of Lord Harroway's Town", 'Rosby of Rosby',
       'Rowan of Goldengrove', 'Roxton of the Ring', 'Royce of Runestone',
       'Royce of the Gates of the Moon', 'Ruskyn', 'Ruthermont',
       'Ruttiger', 'Ryder of the Rills', 'Ryger of Willow Wood',
       'Rykker of Duskendale', 'Ryswell of the Rills',
       'Saltcliffe of Saltcliffe', 'Santagar of Spottswood',
       'Sarsfield of Sarsfield', 'Sawyer', 'Seaworth of Cape Wrath',
       'Selmy of Harvest Hall', 'Serrett of Silverhill',
       'Serry of Southshield', 'Sharp', 'Shawney', 'Shell', 'Shepherd',
       'Shermer of Smithyton', 'Shett of Gull Tower', 'Shett of Gulltown',
       'Slate of Blackpool', 'Sloane', 'Slynt of Harrenhal',
       'Smallwood of Acorn Hall', 'Sparr of Great Wyk',
       'Spicer of Castamere', 'Stackhouse', 'Stackspear',
       'Staedmon of Broad Arch', 'Stane of Driftwood Hall',
       'Stark of Winterfell', "Staunton of Rook's Rest",
       'Stokeworth of Stokeworth', 'Stonehouse of Old Wyk',
       'Stonetree of Harlaw', 'Stout of Goldgrass', 'Strickland',
       'Strong of Harrenhal', 'Suggs', 'Sunderland of the Three Sisters',
       'Sunderly of Saltcliffe', 'Sunglass of Sweetport Sound',
       'Swann of Stonehelm', 'Swyft of Cornfield', 'Swygert',
       "Tallhart of Torrhen's Square", 'Tarbeck of Tarbeck Hall',
       "Targaryen of King's Landing", 'Tarly of Horn Hill',
       'Tarth of Evenfall Hall', 'Tawney of Orkmont', 'Teague',
       'Templeton of Ninestars', 'Terrick', 'Thenn', 'Thorne',
       'Toland of Ghost Hill', 'Tollett of the Grey Glen',
       'Torrent of Littlesister', 'Towers', 'Towers of Harrenhal',
       'Toyne', 'Trant of Gallowsgrey', 'Tudbury', 'Tully of Riverrun',
       'Turnberry', 'Tyrell of Brightwater Keep', 'Tyrell of Highgarden',
       'Uffering', 'Uller of the Hellholt', 'Umber of the Last Hearth',
       'Upcliff of the Witch Isle', 'Vaith of the Red Dunes',
       'Vance of Atranta', "Vance of Wayfarer's Rest", 'Varner',
       'Velaryon of Driftmark', 'Vikary', 'Volmark of Volmark', 'Vypren',
       'Vyrwel of Darkdell', 'Wade', 'Wagstaff', 'Warrick', 'Waterman',
       'Waxley of Wickenden', 'Wayn', 'Waynwood of Ironoaks',
       'Weatherwax', 'Weaver', 'Webber of Coldmoat', 'Wells', 'Wendwater',
       'Wensington', 'Westbrook', 'Westerling of the Crag', 'Whitfield',
       'Whent of Harrenhal', 'Whitehead of the Weeping Town',
       'Whitehill of Highpoint', 'Willum', 'Wode',
       'Woodfoot of Bear Island', 'Woodhull', 'Woods', 'Woodwright',
       'Woolfield', 'Wull', 'Wydman', 'Wyl of the Boneway',
       'Wylde of Rain House', 'Wynch of Iron Holt', 'Wythers', 'Yarwyck',
       'Yelshire', 'Yew', 'Yronwood of Yronwood', 'Branfield',
       'Forrester of Ironrath', 'Glenmore of Rillwater Crossing',
       'Tuttle', 'Whitehill', 'Harlton of Castlewood',
       'Sarwyck of Riverspring', 'Westford'], dtype=object)

In [37]:
df4["Region"].unique()

array(['Westerlands', 'Dorne', 'North', 'Reach',
       'Iron Islands (Shield Islands)', 'Vale of Arryn', 'Riverlands',
       'Crownlands (Dragonstone)', 'Crownlands', 'Stormlands', 'Unknown',
       'North (Crannogmen)', 'Iron Islands',
       'Riverlands; North (formerly)', 'Crownlands (Crackclaw Point)',
       'North (Wolfswood Clans)', 'Vale of Arryn (Sistermen)',
       'North (Mountain Clans)', 'Stormlands (Marcher Lords)',
       'Reach (Shield Islands)', 'North (Skagosi Clans)',
       'Iron Islands (origin); Riverlands', 'North; Reach (formerly)',
       'Crownlands (origin); Riverlands (deposed)'], dtype=object)

In [38]:
df4.head()

              House_name                         Region
0                 Algood                    Westerlands
1  Allyrion of Godsgrace                          Dorne
2                  Amber                          North
3                Ambrose                          Reach
4  Andrik of Southshield  Iron Islands (Shield Islands)

In [39]:
df5 = pd.read_csv("game-of-thones-deaths.csv", index_col=0).reset_index()
df5.head()

,name,allegiance,season,episode,location,killer,killers_house,method,death_no
0,Waymar Royce,Night's Watch,1,1,Beyond the Wall,White Walker,None,Ice sword,1
1,Gared,Night's Watch,1,1,Beyond the Wall,White Walker,None,Ice sword,2
2,Will,Night's Watch,1,1,Winterfell,Ned Stark,House Stark,Sword,3
3,Stag,None,1,1,Winterfell,Direwolf,None,Teeth,4
4,Direwolf,None,1,1,Winterfell,Stag,None,Antler,5

In [58]:
df_muertes = pd.DataFrame(df5["name"].value_counts())

In [62]:
df_death = df_muertes[df_muertes["name"]==1]

In [66]:
lista_nombres = df_death.index

In [68]:
df_death2 = df5[df5["name"].isin(lista_nombres)]

In [69]:
df_death2.head()

,name,allegiance,season,episode,location,killer,killers_house,method,death_no
0,Waymar Royce,Night's Watch,1,1,Beyond the Wall,White Walker,None,Ice sword,1
1,Gared,Night's Watch,1,1,Beyond the Wall,White Walker,None,Ice sword,2
2,Will,Night's Watch,1,1,Winterfell,Ned Stark,House Stark,Sword,3
3,Stag,None,1,1,Winterfell,Direwolf,None,Teeth,4
4,Direwolf,None,1,1,Winterfell,Stag,None,Antler,5

In [74]:
df_death2.name.unique()

array(['Waymar Royce', 'Gared', 'Will', 'Stag', 'Direwolf', 'Jon Arryn',
       'Catspaw assassin', 'Mycah', 'Lady', 'Ser Hugh of the Vale',
       "Clegane's horse", 'Jory Cassel', 'Wallen', 'Stiv', 'Vardis Egen',
       'Viserys Targaryen', 'Robert Baratheon', 'Vayon Poole',
       'Septa Mordane', 'Syrio Forel', 'Stableboy', 'Othor',
       'Jafer Flowers', 'Mago', "Drogo's horse", 'Qotho', 'Ned Stark',
       'Rhaego', 'Khal Drogo', 'Mirri Maz Duur', 'Knight', 'The Silver',
       'Maester Cressen', 'Barra (Baratheon illegitimate son)', 'Rakharo',
       'Yoren', "Night's Watch recruit", 'Lommy Greenhands', 'Rennick',
       'Renly Baratheon', 'The Tickler', 'Rodrik Cassel', 'High Septon',
       'Amory Lorch', 'Drennan', 'Irri', 'Alton Lannister',
       'Torrhen Karstark', 'The Spice King', 'The Silk King',
       'The Copper King', 'Billy', 'Jack', 'Matthos Seaworth',
       'Mandon Moore', 'Maester Luwin', 'Pyat Pree', 'Qhorin Halfhand',
       'Xaro Xhoan Daxos', 'Doreah', 'Manticore', 'Hoster Tully',
       'Bannen', 'Craster', 'Jeor Mormont', 'Kraznys mo Nakloz',
       'Willem Lannister', 'Martyn Lannister', 'Rickard Karstark', 'Ros',
       'Mero', 'Prendahl na Ghezn', 'White Walker', 'Horse breeder',
       'Orell', 'Unborn Stark child', 'Talisa Stark', 'Grey Wind',
       'Robb Stark', 'Joyeuse Frey', 'Catelyn Stark',
       "Lowell (King's Soldier)", 'Polliver', 'Tansy', 'Axell Florent',
       'Deer', 'Joffrey Baratheon', 'Dontos Hollard', 'Guymon',
       "Olly's mum", "Champion of Meereen's Horse", 'Champion of Meereen',
       'Meereen slave master', 'Locke', 'Karl Tanner', 'Rast',
       'Greyjoy soldier', 'Goat', 'Biter', 'Rorge', 'Lysa Arryn',
       'Ralf Kenning', 'Oberyn Martell', 'Pypar', 'Giant wildling',
       'Grenn', 'Mag the Mighty giant', 'Styr', 'Ygritte', 'Zalla',
       'Jojen Reed', 'Sandor "The Hound" Clegane', 'Shae',
       'Tywin Lannister', 'White Rat', 'Mance Rayder', 'Unamed Dwarf',
       'Meereen slave', 'Janos Slynt', 'Rat', 'Snake', 'Dorne Horse',
       'Dorne Smuggler', 'Barristan Selmy', 'Stone Man',
       'Aemon Targaryen', 'Wildling Leader', 'Loboda', 'Karsi',
       'Shireen Baratheon', 'Hizdahr zo Loraq', 'Selyse Florent',
       'Stannis Baratheon', 'Myranda Royce', 'Meryn Trant',
       "Jaqen H'ghar", 'Myrcella', 'Jon Snow', 'Doran Martell',
       'Areo Hotah', 'Trystane Martell', 'Roose Bolton', 'Walda Frey',
       'Bolton heir', 'Balon Greyjoy', 'Oswell Whent', 'Arthur Dayne',
       'Bowen Marsh', 'Othell Yarwyck', 'Alliser Thorne', 'Olly', 'Osha',
       'Khal Moro', 'Summer', 'Three-eyed Raven', 'Leaf', 'Hodor',
       'Brother Ray', 'Lem Lemoncloak', 'Belicho Paenymion',
       'Razdal mo Eraz', 'Rickon Stark', 'Smalljon Umber', 'Wun Wun',
       'Ramsay Bolton', 'Grand Maester Pycelle', 'Lancel Lannister',
       'High Sparrow', 'Margaery Tyrell', 'Mace Tyrell', 'Loras Tyrell',
       'Kevan Lannister', 'Tommen Baratheon', 'Lothar Frey',
       'Walder Rivers', 'Walder Frey', 'Obara Sand', 'Nymeria Sand',
       'Ellaria Sand', 'Olenna Tyrell', 'Randyll Tarly', 'Dickon Tarly',
       'Undead Polar Bear', 'Thoros', 'Viserion', 'Benjen Stark',
       'Petyr Baelish', 'Ned Umber', 'Eddison Tollett', 'Lyanna Mormont',
       'Giant Wight', 'Jorah Mormont', 'Night King',
       'Melisandre "the Red Woman" of Asshai', 'Rhaegal', 'Missandei',
       'Varys', 'Golden Company horse', 'Harry Strickland',
       'Euron Greyjoy', 'Qyburn', 'Gregor "the Mountain" Clegane',
       'Sandor "the Hound" Clegane', 'Jaime Lannister',
       'Cersei Lannister', 'Daenerys Targaryen'], dtype=object)

In [77]:
df_death2[df_death2["name"]== "Ned Stark"]

,name,allegiance,season,episode,location,killer,killers_house,method,death_no
54,Ned Stark,House Stark,1,9,King's Landing,Ilyn Payne,House Payne,Sword,55

In [78]:
df_death2[df_death2["name"]== "Khal Drogo"]

,name,allegiance,season,episode,location,killer,killers_house,method,death_no
56,Khal Drogo,Dothraki,1,10,Red Waste,Daenerys Targaryen,House Targaryen,Pillow,57

In [79]:
df_death2[df_death2["name"]== "Joffrey Baratheon"]

,name,allegiance,season,episode,location,killer,killers_house,method,death_no
284,Joffrey Baratheon,House Lannister,4,2,King's Landing,Olenna Tyrell,House Tyrell,Poison,285

In [80]:
df_death2[df_death2["name"]== "Oberyn Martell"]

,name,allegiance,season,episode,location,killer,killers_house,method,death_no
338,Oberyn Martell,House Martell,4,8,King's Landing,"Gregor ""the Mountain"" Clegane",House Lannister,Hands,339

In [85]:
df_death2[df_death2["name"]== "Ramsay Bolton"]

,name,allegiance,season,episode,location,killer,killers_house,method,death_no
794,Ramsay Bolton,House Bolton,6,9,Winterfell,Bolton Hound,House Bolton,Teeth,795

In [76]:
df_death2[df_death2["name"]== "Petyr Baelish"]

,name,allegiance,season,episode,location,killer,killers_house,method,death_no
1323,Petyr Baelish,House Baelish,7,7,Winterfell,Arya Stark,House Stark,Knife,1324

In [86]:
df_death2[df_death2["name"]== "Night King"]

,name,allegiance,season,episode,location,killer,killers_house,method,death_no
1372,Night King,White Walkers,8,3,Winterfell,Arya Stark,House Stark,Knife,1373

In [81]:
df_death2[df_death2["name"]== "Daenerys Targaryen"]

,name,allegiance,season,episode,location,killer,killers_house,method,death_no
2223,Daenerys Targaryen,House Targaryen,8,6,King's Landing,Jon Snow,House Stark,Knife,2224

In [73]:
df_death2.method.value_counts()

Knife                  42
Sword                  34
Arrow                  12
Hands                  12
Dragonfire (Dragon)    10
Unknown                10
Fire                    8
Spear                   8
Poison                  7
Teeth                   7
Wildfire                7
Noose                   6
Dogs                    3
Cooking                 2
Claws                   2
Falling                 2
Old Age                 2
Giant arrow             2
Arakh                   2
Axe                     2
Ice sword               2
Sealed into vault       2
Rubble                  2
Mallet                  1
Steak                   1
Ice Javelin             1
Antler                  1
Whip                    1
Molten gold             1
Tusk                    1
Magic                   1
Rope                    1
Illness                 1
Broken foot             1
Hands/Necklace          1
Hammer                  1
Mace                    1
Moon Door               1
Starvation              1
Shadow Demon            1
Poison dart             1
Dragonglass             1
Pillow                  1
Name: method, dtype: int64

In [70]:
df_death2.shape

(206, 9)

In [72]:
df_death2.to_csv("juego_tronos_muertes.csv")

In [105]:
# IMPORT KML DRIVER

gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'

# READ KML file to a geopandas dataframe 

geo_df = gpd.read_file('Game of Thrones filming locations in Iceland.kml',driver='KML')

# Create Pandas Dataframe from GeoPandas 

df_iceland= pd.DataFrame(geo_df)

# Extract latitude and longitude from the KML geometry column
df_iceland['lat'] = df_iceland.geometry.apply(lambda p: p.y)
df_iceland['lon'] = df_iceland.geometry.apply(lambda p: p.x)
df_iceland["country"] = "Iceland"

In [106]:
df_iceland

,Name,Description,geometry,lat,lon,country
0,Snæfellsjökull,(Exact coordinates unconfirmed) Fist of the F...,POINT Z (-23.77310 64.80570 0.00000),64.805702,-23.773097,Iceland
1,Svínafellsjökull,(Exact coordinates unconfirmed) Fist of the F...,POINT Z (-16.82148 64.01859 0.00000),64.018592,-16.821478,Iceland
2,Höfðabrekkuheiði,(Exact coordinates unconfirmed) Fist of the Fi...,POINT Z (-18.97447 63.44320 0.00000),63.443200,-18.974465,Iceland
3,Grjótagjá cave,This is said to be the place where Jon Snow an...,POINT Z (-16.88157 65.62713 0.00000),65.627125,-16.881567,Iceland
4,Dimmuborgir,Mance Rayder's wildling army camp in season 3....,POINT Z (-16.94344 65.59049 0.00000),65.590486,-16.943437,Iceland
5,Thingvellir National Park,"<img src=""https://doc-08-78-mymaps.googleuserc...",POINT Z (-21.11040 64.27069 0.00000),64.270686,-21.110395,Iceland

In [107]:
geo_df2 = gpd.read_file('Game of Thrones filming locations in Malta.kml',driver='KML')

# Create Pandas Dataframe from GeoPandas 

df_malta= pd.DataFrame(geo_df2)

# Extract latitude and longitude from the KML geometry column
df_malta['lat'] = df_malta.geometry.apply(lambda p: p.y)
df_malta['lon'] = df_malta.geometry.apply(lambda p: p.x)
df_malta["country"] = "Malta"

In [108]:
df_malta.head()

,Name,Description,geometry,lat,lon,country
0,Azure Window Ruins,Beach in Pentos:<br>Daenerys Targaryen and Kh...,POINT Z (14.18822 36.05353 0.00000),36.053526,14.188225,Malta
1,Church of St Dominic & The Blessed Virgin,Garden of the Red Keep: <br>Ned Stark tells Ce...,POINT Z (14.39907 35.87611 0.00000),35.876114,14.399069,Malta
2,Fort Manoel,Steps of the Great Sept of Baelor:<br>Ned Star...,POINT Z (14.50545 35.90303 0.00000),35.903028,14.505452,Malta
3,Fort Ricasoli,The Gate of the Gods in King's Landing:<br>The...,POINT Z (14.52645 35.89726 0.00000),35.897264,14.526449,Malta
4,Fort St. Angelo,Dungeons of the Red Keep:<br>Arya Stark chases...,POINT Z (14.51784 35.89247 0.00000),35.892468,14.517839,Malta

In [109]:
geo_df3 = gpd.read_file('Game of Thrones filming locations Spain.kml',driver='KML')

# Create Pandas Dataframe from GeoPandas 

df_spain= pd.DataFrame(geo_df3)

# Extract latitude and longitude from the KML geometry column
df_spain['lat'] = df_spain.geometry.apply(lambda p: p.y)
df_spain['lon'] = df_spain.geometry.apply(lambda p: p.x)
df_spain["country"] = "Spain"

In [111]:
geo_df4 = gpd.read_file('Game of Thrones locations in Northern Ireland.kml',driver='KML')

# Create Pandas Dataframe from GeoPandas 

df_ireland= pd.DataFrame(geo_df4)

# Extract latitude and longitude from the KML geometry column
df_ireland['lat'] = df_ireland.geometry.apply(lambda p: p.y)
df_ireland['lon'] = df_ireland.geometry.apply(lambda p: p.x)
df_ireland["country"] = "Ireland"

In [112]:
df_mapa = pd.concat([df_malta, df_ireland, df_spain, df_iceland], axis= 0)

In [114]:
df_mapa.drop("Description", inplace= True, axis= 1)

In [115]:
df_mapa.head()

,Name,geometry,lat,lon,country
0,Azure Window Ruins,POINT Z (14.18822 36.05353 0.00000),36.053526,14.188225,Malta
1,Church of St Dominic & The Blessed Virgin,POINT Z (14.39907 35.87611 0.00000),35.876114,14.399069,Malta
2,Fort Manoel,POINT Z (14.50545 35.90303 0.00000),35.903028,14.505452,Malta
3,Fort Ricasoli,POINT Z (14.52645 35.89726 0.00000),35.897264,14.526449,Malta
4,Fort St. Angelo,POINT Z (14.51784 35.89247 0.00000),35.892468,14.517839,Malta

In [116]:
df_mapa.to_csv("mapa_localizaciones.csv")